QLineEdit {
    border: 1px solid #000;
    font-size: 32px;
    color: #458;
}

UserCell {
    border: 1px solid #000;
    font-size: 32px;
    color: #458;
}

ComputerCell {
    border: 1px solid #000;
    font-size: 32px;
    color: #458;
}

QLineEdit:focus {
    border: 2px solid #47c;
}



